				@font-face {
					font-family: 'uni';
					src: url('./160930015629UNI.woff') format('woff');
					  font-display: auto;
				}

				.uni{font-family: 'uni' !important;}

						@font-face {
					font-family: 'uni-sans-wei';
					src: url('./160930020959uni-sans-wei.woff') format('woff');
					  font-display: auto;
				}

				.uni-sans-wei{font-family: 'uni-sans-wei' !important;}

						h1, h2, h3, h4, h5, h6{
					font-family: 'uni' !important;
				}
						#slide-1-layer-1, #slide-1-layer-2{
					font-family: 'uni' !important;
				}
						#slide-4-layer-1, #slide-4-layer-2{
					font-family: 'uni' !important;
				}
						.dropdown-menu{
					font-family: 'uni' !important;
				}
						#header-sticky .primary-menu .navbar-nav{
					font-family: 'uni' !important;
				}
		